*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section{
    width: 100%;
    height: 100vh;
    background-color: rgb(9, 142, 244);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    border: 5px solid white;
    width: 400px;
    text-align: center;
    padding: 20px;
}

span{
    font-size: 70px;
    color: rgb(195, 233, 247);
}

#ampm{
    font-size: 30px;
}

